<?xml version="1.0"?>
<configuration>
	<startup useLegacyV2RuntimeActivationPolicy="true">
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
	<runtime>
		<enforceFIPSPolicy enabled="false"/>
	</runtime>
	<appSettings>
		<add key="Browser" value="ie" />
		<add key="Domain" value="integration.lynda.com" />
		<add key="MouseDefaultMoveTime" value="50" />
		<add key="KeyboardDefaultKeyPressTime" value="40" />
	</appSettings>
</configuration>
